{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sorting visualization</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>

	<body>
		<!-- Navigation Bar -->
		<header>
			<div class="container">
				<nav>
					<h3>Sorting Visualizer</h3>
				</nav>
			</div>
		</header>

		<!--Array-->
		<div class="array-container">
			{% for i in arr %}
			<div
				class="array-bars"
				style="height:{{ i }}px; background-color: #1778b0;"
			></div>
			{% endfor %}
		</div>

		<div class="algorithms">
			<nav>
				<ul>
					<li><p>Array size:</p></li>
					<li><input id="a_size" type="range" min=20 max=150 step=1 value=80></li>
					<li><p>Speed:</p></li>
					<li><input id="a_speed" type="range" min=1 max=5 step=1 value=4></li>
					<li><a href="/">Create New Array</a></li>
					<li><a onclick="merge_sort()">Merge Sort</a></li>
					<li><a onclick="quick_sort()">Quick Sort</a></li>
					<li><a onclick="bubble_sort()">Bubble Sort</a></li>
					<li><a onclick="selection_sort()">Selection Sort</a></li>
					<li><a onclick="insertion_sort()">Insertion Sort</a></li>
				</ul>
			</nav>
		</div>

		<div class="container">
			<div class="row row-cols-2">
			  <div class="col">
				  <h4>Merge Sort</h4>
				  <p>Merge sort is a sorting technique based on divide and conquer technique. 
					  With worst-case time complexity being Ο(n log n), 
					  it is one of the most respected algorithms.</p>
					  <IMG SRC="https://upload.wikimedia.org/wikipedia/commons/c/cc/Merge-sort-example-300px.gif" width="100%" height="auto">
			  </div>
			  <div class="col">
				  <h4>Quick Sort</h4>
				  <p>Quick sort is a highly efficient sorting algorithm and is based on partitioning of array of data into smaller arrays. 
					  A large array is partitioned into two arrays one of which holds values smaller than the specified value, 
					  say pivot, based on which the partition is made and another array holds values greater than the pivot value.
					Quicksort partitions an array and then calls itself recursively twice to sort the two resulting subarrays. 
					This algorithm is quite efficient for large-sized data sets as its average and worst-case complexity are O(nLogn) and image.png(n2), respectively.</p>
					<IMG src="https://www.tutorialspoint.com/data_structures_algorithms/images/quick_sort_partition_animation.gif" width="100%" height="auto">
				</div>
			  <div class="col">
				  <h4>Bubble Sort</h4>
				  <p>Bubble sort is a simple sorting algorithm. 
					  This sorting algorithm is comparison-based algorithm in which each pair of adjacent elements 
					  is compared and the elements are swapped if they are not in order. This algorithm is not suitable 
					  for large data sets as its average and worst case complexity are of Ο(n2) where n is the number of items.</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Bubble-sort.gif" width="100%" height="auto">
				</div>
			  <div class="col">
				  <h4>Selection Sort</h4>
				  <p>Selection sort is a simple sorting algorithm. This sorting algorithm is an in-place 
					  comparison-based algorithm in which the list is divided into two parts, 
					  the sorted part at the left end and the unsorted part at the right end. Initially, 
					  the sorted part is empty and the unsorted part is the entire list.

					The smallest element is selected from the unsorted array and swapped with the leftmost 
					element, and that element becomes a part of the sorted array. This process continues 
					moving unsorted array boundary by one element to the right.
					
					This algorithm is not suitable for large data sets as 
					its average and worst case complexities are of Ο(n2), where n is the number of items.</p>
					<img src="https://1.bp.blogspot.com/-nD6GTK8WwTM/XdOEB0N9U5I/AAAAAAAAAHU/qJXQx6zEuCQCDINnxlL_1S-eU-aIav2sACLcBGAsYHQ/s1600/Selection-Sort-Gif.gif" width="100%" height="auto">
				</div>
			  <div class="col">
				  <h4>Insertion Sort</h4>
				  <p>This is an in-place comparison-based sorting algorithm. 
					  Here, a sub-list is maintained which is always sorted. For example, 
					  the lower part of an array is maintained to be sorted. An element which is to be 
					  'insert'ed in this sorted sub-list, has to find its appropriate place and then it has 
					  to be inserted there. Hence the name, insertion sort.

					The array is searched sequentially and unsorted items are moved and inserted 
					into the sorted sub-list (in the same array). This algorithm is not suitable for 
					large data sets as its average and worst case complexity are of Ο(n2), where n is 
					the number of items.</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Insertion-sort-example.gif" width="100%" height="auto">
				</div>
			</div>
		</div>
	</body>
	<script>

		const ANIMATION_SPEED_MS = 5;
		const PRIMARY_COLOR = '2c21ff';
		const SECONDARY_COLOR = 'yellow';
		const ANIMATION_SPEED_MS_BUBBLE = 1;

		function merge_sort(){
		    $.ajax({
		    type: "POST",
		    url: '{{ 'mergesort/' }}',
		    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
		    success: function callback(animations){
		                var arr = JSON.parse(animations);

		                for (let i = 0; i < arr.length; i++) {
		                    const arrayBars = document.getElementsByClassName('array-bars');
		                    const isColorChange = i % 3 !== 2;
		                    if (isColorChange) {
		                        const [barOneIdx, barTwoIdx] = arr[i];
		                        const barOneStyle = arrayBars[barOneIdx].style;
		                        const barTwoStyle = arrayBars[barTwoIdx].style;
		                        const color = i % 3 === 0 ? SECONDARY_COLOR : PRIMARY_COLOR;
		                        setTimeout(() => {
		                            barOneStyle.backgroundColor = color;
		                            barTwoStyle.backgroundColor = color;
		                        }, i * ANIMATION_SPEED_MS);
		                    } else {
		                    setTimeout(() => {
		                        const [barOneIdx, newHeight] = arr[i];
		                        const barOneStyle = arrayBars[barOneIdx].style;
		                        barOneStyle.height = `${newHeight}px`;
		                        }, i * ANIMATION_SPEED_MS);
		                    }
		                    }
		                }
			});
		}


		function quick_sort() {
		    $.ajax({
		    type: "POST",
		    url: '{{ 'quicksort/' }}',
		    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
		    success: function callback(animations){
		        var arr = JSON.parse(animations);

		        for (let i = 0; i < arr.length - 1; i++) {
		            const isColorChange = (i % 6 === 0) || (i % 6 === 1);
		            const arrayBars = document.getElementsByClassName('array-bars');
		            if(isColorChange === true) {
		                const color = (i % 6 === 0) ? SECONDARY_COLOR : PRIMARY_COLOR;
		                const [barOneIndex, barTwoIndex] = arr[i];
		                if(barOneIndex === -1) {
		                    continue;
		                }
		                const barOneStyle = arrayBars[barOneIndex].style;
		                const barTwoStyle = arrayBars[barTwoIndex].style;
		                setTimeout(() => {
		                    barOneStyle.backgroundColor = color;
		                    barTwoStyle.backgroundColor = color;
		                },i * ANIMATION_SPEED_MS);
		            }
		            else {
		                const [barIndex, newHeight] = arr[i];
		                if (barIndex === -1) {
		                    continue;
		            }
		            const barStyle = arrayBars[barIndex].style;
		            setTimeout(() => {
		                barStyle.height = `${newHeight}px`;
		            },i * ANIMATION_SPEED_MS);
		            }
		            }
		        }
		    });
		}


		function bubble_sort() {
		    $.ajax({
		    type: "POST",
		    url: '{{ 'bubblesort/' }}',
		    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
		    success: function callback(animations){
		        var arr = JSON.parse(animations);

		        for (let i = 0; i < arr.length; i++) {
		            const isColorChange = (i % 4 === 0) || (i % 4 === 1);
		            const arrayBars = document.getElementsByClassName('array-bars');
		                if(isColorChange === true) {
		                    const color = (i % 4 === 0) ? SECONDARY_COLOR : PRIMARY_COLOR;
		                    const [barOneIndex, barTwoIndex] = arr[i];
		                    const barOneStyle = arrayBars[barOneIndex].style;
		                    const barTwoStyle = arrayBars[barTwoIndex].style;
		                    setTimeout(() => {
		                        barOneStyle.backgroundColor = color;
		                        barTwoStyle.backgroundColor = color;
		                    },i * ANIMATION_SPEED_MS_BUBBLE);
		                }
		                else {
		                    const [barIndex, newHeight] = arr[i];
		                    if (barIndex === -1) {
		                        continue;
		                    }
		                    const barStyle = arrayBars[barIndex].style;
		                    setTimeout(() => {
		                        barStyle.height = `${newHeight}px`;
		                    },i * ANIMATION_SPEED_MS_BUBBLE);
		                }
		        }
		    }
		    });
		}


		function selection_sort() {
		    $.ajax({
		    type: "POST",
		    url: '{{ 'selectionsort/' }}',
		    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
		    success: function callback(animations){
		        var arr = JSON.parse(animations);

		        for (let i = 0; i < animations.length; i++) {
		            const isColorChange = (arr[i][0] === 999) || (arr[i][0] === 9999);
		            const arrayBars = document.getElementsByClassName('array-bars');
		            if(isColorChange === true) {
		                const color = (arr[i][0] === 999) ? SECONDARY_COLOR : PRIMARY_COLOR;
		                const [temp, barOneIndex, barTwoIndex] = arr[i];
		                const barOneStyle = arrayBars[barOneIndex].style;
		                const barTwoStyle = arrayBars[barTwoIndex].style;
		                setTimeout(() => {
		                    barOneStyle.backgroundColor = color;
		                    barTwoStyle.backgroundColor = color;
		                },i * ANIMATION_SPEED_MS);
		            }
		            else {
		                const [temp, barIndex, newHeight] = arr[i];
		                const barStyle = arrayBars[barIndex].style;
		            setTimeout(() => {
		                barStyle.height = `${newHeight}px`;
		            },i * ANIMATION_SPEED_MS);
		            }
		        }
		    }

		    });
		}


		function insertion_sort() {
		    $.ajax({
		    type: "POST",
		    url: '{{ 'insertionsort/' }}',
		    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
		    success: function callback(animations){
		        var arr = JSON.parse(animations);

		        for (let i = 0; i < arr.length; i++) {
		            const isColorChange = (arr[i][0] === 999) || (arr[i][0] === 9999);
		            const arrayBars = document.getElementsByClassName('array-bars');
		            if(isColorChange === true) {
		                const color = (arr[i][0] === 999) ? SECONDARY_COLOR : PRIMARY_COLOR;
		                const [temp, barOneIndex, barTwoIndex] = arr[i];
		                const barOneStyle = arrayBars[barOneIndex].style;
		                const barTwoStyle = arrayBars[barTwoIndex].style;
		                setTimeout(() => {
		                    barOneStyle.backgroundColor = color;
		                    barTwoStyle.backgroundColor = color;
		                },i * ANIMATION_SPEED_MS);
		            }
		            else {
		                const [temp, barIndex, newHeight] = arr[i];
		                const barStyle = arrayBars[barIndex].style;
		                setTimeout(() => {
		                    barStyle.height = `${newHeight}px`;
		                },i * ANIMATION_SPEED_MS);
		            }
		        }
		    }
		    });
		}
	</script>
</html>
